<div class="container-fluid">
    <div class="my-button">
        <div class="button round"><a href="#locations">Locations</a></div>
        <div class="button round"><a href="#events">Events</a></div>
    </div>
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select>

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul class="locations">
        <li ng-repeat="location in locations | filter:query | orderBy:orderProp"
            class="thumbnail location-listing">
          <a href="#/locations/{{location.id}}" class="thumb"><img ng-src="{{location.imageUrl}}"></a>
          <a href="#/locations/{{location.id}}">{{location.name}}</a>
          <p>{{location.snippet}}</p>
        </li>
      </ul>

    </div>
  </div>
</div>
